@model List<TrailerOrder.Models.Employee>

@{
    ViewData["Title"] = "All Employees";
}

<br />
@if (Model.Count == 0)
{
    <p> No Employee added yet!</p>
}

else
{

    <div class="container">
        <h2>All Employees </h2>

        <table class="table table-hover">

            <thead>
                <tr>
                    <th>
                        Employees
                    </th>

                    <th>
                        Title
                    </th>

                    <th>
                        Tractor
                    </th>

                    <th>
                        Order
                    </th>
                </tr>
            </thead>



            <tbody>
                @foreach (var employee in Model)
                {
                <tr>
                    <td>
                        <a asp-controller="Employee" asp-action="EmployeeDetails" asp-route-id="@employee.EmployeeID"> @employee.FirstName @employee.LastName @employee.Dob.ToShortDateString()</a>
                    </td>



                    <td>
                        @employee.Title
                    </td>

                    @if (@employee.TractorID == null)
                    {

                        <td>
                            <a asp-controller="Employee" asp-action="AssignTractor" asp-route-id="@employee.EmployeeID"> assign Tractor</a>
                        </td>
                    }

                    else
                    {
                        <td>
                            <a asp-controller="Employee" asp-action="UnassignTractor" asp-route-id="@employee.EmployeeID"> Unassign Tractor</a>
                        </td>


                        <td>
                            <a asp-controller="Employee" asp-action="CompleteAssignment" asp-route-id="@employee.EmployeeID"> End Assignment</a>
                        </td>


                        @*@if (@employee.LoginStatus == true && @employee.WorkStatus == "Available" )*@


                        @if (@employee.OrderID == 0)
                        {

                            <td>
                                <a asp-controller="Employee" asp-action="AssignOrder" asp-route-id="@employee.EmployeeID"> assign order</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-controller="Employee" asp-action="UnassignOrder" asp-route-id="@employee.EmployeeID"> Unassign order</a>
                            </td>


                            <td>
                                <a asp-controller="Order" asp-action="CompleteOrder" asp-route-id="@employee.EmployeeID"> Complete order</a>
                            </td>
                        }

                    }

                    <td>
                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.EmployeeID"> Edit</a>
                    </td>
                </tr>
                }
            <tbody>
        </table>
    </div>


}
<p> <a asp-controller="Employee" asp-action="Add"> Add Employee</a> </p>
