@model TrailerOrder.ViewModels.EditOrderViewModel

@{
    ViewData["Title"] = "Edit Order";
}


<h2>@ViewData["Title"]</h2>

<form asp-controller="Order" asp-action="Edit" method="post">

    <fieldset>
        @Html.HiddenFor(o=>o.OrderID)
        <div class="form-group">
            <label asp-for="@Model.OrderNumber">Order number </label>
            <input class="form-control" asp-for="@Model.OrderNumber" />
            <span asp-validation-for="@Model.OrderNumber"></span>
        </div>


        <div class="form-group">
        <label asp-for="@Model.TrailerForLoadID">Customers Name</label>
        <select asp-for="@Model.TrailerForLoadID" asp-items="@Model.TrailersForLoad"></select>
        <span asp-validation-for="@Model.TrailerForLoadID"></span>
        </div>


       <div class="form-group">
        <label asp-for="@Model.CustomerOrdersID">Customers Name</label>
        <select asp-for="@Model.CustomerOrdersID" asp-items="@Model.CustomersOrder"></select>
        <span asp-validation-for="@Model.CustomerOrdersID"></span>
        </div>


        <div class="form-group">
            <input type="submit" value="Update" name="submitButton" />
        </div>
           
    </fieldset>
</form>